@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Lato', -apple-system, Oxygen, Ubuntu, sans-serif;
}